# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python

# Виртуальное окружение
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Результаты работы программы (если не хотите хранить сгенерированные картинки)
*.jpg
*.png
*.jpeg
*.bmp
*.tiff

# Логи и временные файлы
*.log
*.tmp
*.bak
